* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
  background-color: #efefef;
}

#nav {
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
}

#lnav {
  display: flex;
  align-items: center;
  gap: 30px;
}

#lnav button {
  font-weight: 500;
  padding: 8px 22px;
  background-color: #fff;
  border: none;
  border-radius: 100px;
}

#rnav {
  display: flex;
  gap: 10px;
}

#rnav a {
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  color: #000;
}

#photo {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url(https://images.unsplash.com/photo-1528892952291-009c663ce843?q=80&w=2363&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}

#details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#details h1 {
  text-align: center;
  line-height: 1.2;
  font-size: 42px;
}

#details #text {
  margin: 20px 0;
}

#details button {
  padding: 12px 32px;
  background-color: #222;
  color: #fff;
  border: none;
  border-radius: 100px;
}

#namey {
  position: absolute;
  left: 70%;
  top: 50%;
  transform: translate(0, -50%) rotate(-10deg);
  padding: 6px 15px;
  border-radius: 100px;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  background-color: #ffff;
  display: flex;
}
